* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.app {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.app__left {
  width: 65%;
}

.app__right {
  width: 33%;
  display: flex;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__header h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.app__stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.map {
  margin-top: 20px;
}

.app__graph {
  flex-grow: 1;
}

@media (max-width: 998px) {
  .app__left {
    width: 100%;
  }
  .app__right {
    width: 100%;
    margin-top: 20px;
  }
}
